In [11]:
import pandas as pd
import torch
from torch.nn.utils.rnn import pad_sequence

# 创建示例 DataFrame
data = {'col1': [[1, 2, 3], [4, 5], [6, 7, 8, 9]],
        'col2': [[10, 11, 12], [12, 13], [16, 17, 18, 19]],
        'col3': [[17, 18, 19], [21, 22], [22, 23, 24,25]]}
df = pd.DataFrame(data)

# 固定长度
fixed_length = 4

# 转换为张量列表并截断到固定长度
tensor_list = [torch.tensor(row) for _, row in df.iterrows()]

# 填充序列到固定长度
padded_tensor = pad_sequence([torch.cat((tensor, torch.zeros(fixed_length - len(tensor), dtype=torch.long))) 
                              for tensor in tensor_list], batch_first=True)

print(padded_tensor)

RuntimeError: Tensors must have same number of dimensions: got 2 and 1

In [8]:
df

           col1              col2              col3
0     [1, 2, 3]          [10, 11]  [17, 18, 19, 20]
1        [4, 5]  [12, 13, 14, 15]              [21]
2  [6, 7, 8, 9]              [16]      [22, 23, 24]

In [7]:
for _, row in df.iterrows():
    print(_, row)

0 col1           [1, 2, 3]
col2            [10, 11]
col3    [17, 18, 19, 20]
Name: 0, dtype: object
1 col1              [4, 5]
col2    [12, 13, 14, 15]
col3                [21]
Name: 1, dtype: object
2 col1    [6, 7, 8, 9]
col2            [16]
col3    [22, 23, 24]
Name: 2, dtype: object

In [6]:
row

col1           [1, 2, 3]
col2            [10, 11]
col3    [17, 18, 19, 20]
Name: 0, dtype: object